@import "tailwindcss";

@theme {
    --breakpoint-xl: 1250px;
    --breakpoint-lg: 960px;
}

.justify-unset {
    justify-content: unset;
}

.break-unset {
    word-break: unset;
}

.grid-buttons {
    grid-template-columns: 2.4rem minmax(0, 1fr);
}