# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
SECRET_KEY_JWT="we-need-at-least-32-characters-in-here"
PORT=5173
PROTOCOL_HEADER=x-forwarded-proto
HOST_HEADER=x-forwarded-host